nav {
    padding: 20px 0;
}

ul {
    display: flex;
    justify-content: space-around;
}
input[type=text]{
    margin: 10px 0;
    width: 400px;
}

.formdatbas {
    justify-content: space-around;
    display: flex;
    flex-flow: wrap;
}
.datbascol {
    min-width: 300px;
}
.itemdatbas {
    display: flex;
    flex-direction: column;
}
.rad-sexo {
    display: flex;
    justify-content: space-around;
}
.red-soc {
    display: flex;
    justify-content: space-around;
}
.red-soc img {
    max-width: 50px;
}

/* ---------------------- Estilos ------------------------------*/

nav {
    background-color: gray;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
}
form {
    background-color: #aaaaaa;
}
p {
    text-align: center;
    font-size: 25px;
    color: #353535;
}
input {
    border-radius: 7px;
    border-color:beige;
    color: #353535;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
label {
    font-size: 18px;
}

a:hover {
    color: red;
}

.div-sexo {
    border: 1px solid;
}
.div-sexo p {
    margin-top: 0;
}

